<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Configurações Básicas da Conexão -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/projetopdm</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Outras Configurações -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Configuração de Criação do Banco de Dados -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Mapeamento das Entidades -->
        <mapping
                class="br.edu.ifpr.bsi.projetopdm.model.Avaliacao" />
        <mapping
                class="br.edu.ifpr.bsi.projetopdm.model.Certificado" />
        <mapping
                class="br.edu.ifpr.bsi.projetopdm.model.Evento"/>
        <mapping
                class="br.edu.ifpr.bsi.projetopdm.model.UsuarioSistema"/>
        <mapping
                class="br.edu.ifpr.bsi.projetopdm.model.Monitoria"/>
        <mapping
                class="br.edu.ifpr.bsi.projetopdm.model.Frequencia"/>

        <mapping class="br.edu.ifpr.bsi.projetopdm.model.Inscricao"/>


    </session-factory>
</hibernate-configuration>